<section class="section bg-image"
         id="header-section">
    <div class="overlay">
        <div class="container">
            <div class="row justify-content-center vertical-align">
                <div class="col-11 col-md-11 title-container">
                    <h1>{{ typewriterDisplay }}<span [ngClass]="{'blinking-cursor': blinkingCursor}">|</span></h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section"
         id="skills-section">
    <div class="container">
        <div class="row justify-content-center vertical-align">
            <div class="col-11 col-md-10 title-container">
                <h1>How I can help you</h1>
            </div>
        </div>
        <div class="row vertical-align">
            <div class="col-12 col-md-4 content-container">
                <img src="/assets/images/about/lightbulb_idea.svg">
                <h2 class="title">Ideas</h2>
                <p>I'm a creative guy with an entrepreneurial spirit. I love coming up with ideas and brainstorming with the team.</p>
            </div>
            <div class="col-12 col-md-4 content-container">
                <img src="/assets/images/about/graphic_design.svg">
                <h2 class="title">UX / UI</h2>
                <p>With strong user empathy, I always take a user centric approach when designing new features and UI's.</p>
            </div>
            <div class="col-12 col-md-4 content-container">
                <img src="/assets/images/about/laptop.svg">
                <h2 class="title">Develop</h2>
                <p>I love to code and bring designs to life. I'm a Front-end developer at heart, but happy to venture into the back.</p>
            </div>
        </div>
    </div>
</section>