@import './../../../styles/styles.less';

#skills-section {
    .title-container {

    }

    .content-container {
        text-align: center;
        padding: 30px 40px;

        img {
            width: 150px;
            margin-bottom: 30px
        }

        .title {
            font-weight: @font-weight-semi-bold;
            margin-bottom: 20px;
        }
    }
}

#technologies-section {
    .technology-container {
        margin: 35px 0;

        img {
            max-width: 150px;
            max-height: 100px;
            margin: auto;

            @media (max-width: 600px) {
                max-width: 120px;
                max-height: 70px;
            }
        }
    }
}

#about-section {
    .bg-gradient(@color-one, @color-two, 0deg);
}